#cuerpo{
background-color:#BCB9FF;
}
a{
text-decoration:none;
}
#cabecera{
border: 5px solid #001589;
background:#D773FF;
border-radius:25px;
box-shadow:3px 8px 30px black;
padding: 10px 20px 30px 20px;
margin:30px;
font-family: "Cooper";
font-size:28px;
color: transparent;
background-image: url(https://media2.giphy.com/media/B1xUp52rUnrv1Leakw/giphy.gif?cid=ecf05e47ee1a8e1d49df3fa04c1940f59b595f3b36aeb964&rid=giphy.gif);
background-position: center;
-webkit-background-clip: text;
font-weight:bold;



}

#menu{
border: 5px solid #001589;
background:#BCB9FF;
border-radius:22px;
box-shadow:3px 8px 30px black;
padding: 1px;
margin:20px;
}
#menu li{
display:inline-block;
margin: 10px;
padding: 8px 50px;
margin: 40px;
font-size:28px;
font-weight:bold;
border: 3px solid #001589;
border-radius:15px;

}
#seccion{
border: 5px solid #001589;
background:#BCB9FF;
border-radius:22px;
box-shadow:3px 8px 30px black;
padding: 20px 100px 40px 60px;
margin:20px;
font-family: "Verdana";
font-size:22px;
text-align:justify;
}

#pie{
border: 5px solid #001589;
background:BCB9FF;
border-radius:22px;
box-shadow:3px 8px 30px black;
padding: 2px;
margin:20px;
text-align:center;
color: black;
font-family: "Verdana";
font-size:16px;
font-weight:bold;
}
